<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzzardparking.buzzard">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BuzzardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_buzzard"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <!-- Have to explicit about models to solve the instant run issue with gradle 2.0 -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.buzzardparking.buzzard.models.Spot, com.buzzardparking.buzzard.models.User" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/secret_maps_api_key" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".activities.MapActivity"/>

        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.SettingsActivity" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <service
            android:name=".services.OverlayService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.GeofenceTransitionsIntentService" />
        <service android:name=".services.TimerService"
            android:exported="false"/>

        <receiver android:name=".receivers.AlarmReceiver"
            android:process=":remote"/>
    </application>

</manifest>